<h2 class="page-header">Account Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
<br/>
<br/>
  <p><b>5 actions are:</b></p>
  <ul>
	  <li>Upvoted - to track user like question/answer</li>
	  <li>Downvoted - to track user dislike question/answer</li>
	  <li>Reading Answer - to track user is reading answer</li>
	  <li>Favourite - to track like question</li>
	  <li>Scroll till end of page - to track user skim/read the page</li>
    <li>Share - user share the question</li>
    <li>Flag - to track user flag</li>
	</ul>
</form>





